# Entorno
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Django
backend/staticfiles/
backend/media/
*.sqlite3

# Node
node_modules/
frontend/dist/
mobile/dist/
.expo/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
