[submodule "backend"]
	path = backend
	url = git@github.com:stainer1998/vf-admin-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:stainer1998/vf-admin-frontend.git
[submodule "lookout"]
	path = lookout
	url = git@github.com:stainer1998/vf-lookout.git
